* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgb(93, 0, 255), rgb(114, 114, 245), rgb(44, 22, 22));
    min-height: 100vh;
}
main{
    height: 87vh;
    justify-content: center;
    align-items: center;
}
.top-info i {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(255, 214, 11);
    padding: 10px;
    background-color: rgb(10, 73, 132);
    border-radius: 20%;
    border-style: double;
    border-color: red;
    border-width: 3px;
}

h1 {
    font-weight: 600;
    color: white;
}

.texto-inicio {
    color: white;
}

.label-inicio, p {
    color: white;
}

a {
    color: rgb(205, 196, 25);
}

.login-accounts i {
    margin: 10px 0;
    margin-right: 5px;
    color: white;
    background: linear-gradient(red, blue);
    padding: 2px;
    border-radius: 30%;
    
}
.login-bar .clave{
    margin: 10px 0;
}
.login-bar button{
    margin: 10px 0;
}

main .registro div{
    max-width: 400px;
    color: green;
    align-items: center;
}

main .login-bar div form .btn-iniciar{
    background-color: purple;
    color: white;
    border-style: solid;
    border-radius: 10%;
    border-color: gold;
    border-width: 4px 1px 4px 1px;
}

