nav{
    border-radius: 0 0 30px 30px;
}

body{
    background:radial-gradient(yellow,rgb(255, 255, 255),rgb(83, 140, 224));
} 
h1{
    font-weight: 600;
    color: rgb(18, 8, 66);
    font-style: italic;
}
nav{
    background: -webkit-linear-gradient(white,gold) ;
}