<style>@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

</style>* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head-back {
    background: -webkit-linear-gradient(white, gold);
    border-radius: 0 0 30px 30px;
}

.navbar-brand {
    font-size: 50px;
}

body {
    background: repeating-linear-gradient(rgb(244, 231, 85), rgb(161, 50, 161), rgb(105, 46, 63));
    min-height: 100vh;
    font-family: "Noto Sans", sans-serif;

}

body .titulo h1 {
    color: white;
    margin-top: 3px;
}

body h2 {
    color: white;
    font-weight: 700;

}

body .titulo {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    border-color: blanchedalmond;
    border-style: groove;
    border-width: 4px;
    border-radius: 15%;
    padding: 2px 2px;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 3px 3px 3px;

}

header .flecha-volver {
    font-size: 30px;
    color: blue;
}

/*transfer.html*/
main div .btn-grupo-transferir {
    border-style: inset;
    border-width: 2px;
    border-color: gray;
    box-shadow: 2px 2px;
    background-color: white;

}

main .enviar-dinero button {
    color: black;
    background-color: antiquewhite;
    border-style: outset;
    border-width: 5px;
    border-color: rgb(232, 231, 231);
    box-shadow: 2px 2px;
}

/*main.html*/
main .img-card {
    text-align: center;
    max-width: 400px;
    max-height: 500px;
}

main .saldo-card {
    text-align: center;
    max-width: 600px;
}

main .boton-transaction {
    background-color: rgb(195, 98, 255);
}

/*Sendmoney.html */
main form ul .btn-enviar {
    background-color: rgb(195, 98, 255)
}

main form ul .btn-volver {
    color: black;
    background-color: antiquewhite;
    border-style: outset;
    border-width: 5px;
    border-color: rgb(232, 231, 231);
    box-shadow: 2px 2px;
}

main form .btn-contacto {
    background-color: rgb(195, 98, 255);
}

#logout{
    color: red;
    background-color: darksalmon;
    border-color: white;
}
/*login.html index.html register.html*/
#header-index{
    font-weight: 600;
}
.front-body{
    background: linear-gradient(rgb(93, 0, 255), rgb(114, 114, 245), rgb(44, 22, 22));
    min-height: 120vh;
}

.front-main{
    height: vh;
    justify-content: center;
    align-items: center;
}

.top-info #moneda {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(255, 214, 11);
    padding: 10px;
    background-color: rgb(10, 73, 132);
    border-radius: 20%;
    border-style: double;
    border-color: red;
    border-width: 3px;
}

.front-title {
    font-weight: 600;
    color: white;
}

.texto-inicio {
    color: white;
}

.label-inicio,
p {
    color: white;
}

a {
    color: rgb(205, 196, 25);
}

.login-accounts i {
    margin: 10px 0;
    margin-right: 5px;
    color: white;
    background: linear-gradient(red, blue);
    padding: 2px;
    border-radius: 30%;

}

.login-bar .clave {
    margin: 10px 0;
}

.login-bar button {
    margin: 10px 0;
}

main #registro div {
    max-width: 400px;
    color: white;
    align-items: center;
}

main .login-bar div form .btn-iniciar {
    background-color: purple;
    color: white;
    border-style: solid;
    border-radius: 10%;
    border-color: gold;
    border-width: 4px 1px 4px 1px;
}

main .btn-index-iniciar {
    background-color: rgb(146, 1, 62);
    color: white;
    border-style: solid;
    border-radius: 10%;
    border-color: gold;
    border-width: 4px 0 4px 0;
}

main .btn-index-registrar {
    background-color: rgb(70, 0, 128);
    color: white;
    border-style: solid;
    border-radius: 10%;
    border-color: rgb(16, 190, 120);
    border-width: 4px 0 4px 0;
}
.titulo-principal{
    color: white;
}
#texto-iniciar-sesion{
color: wheat;
}